.thank_msg {
    position: relative;
    top: 130px;
    left: 30px;
}
div.rapid_contact tr,
div.rapid_contact td {
    line-height: 30px;
}
.text2 {
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    padding-top: 10px;
    margin: 0px !important;
}
p .read1 {
    background: none repeat scroll 0 0 #bfbfbf;
    border-radius: 5px 5px 5px 5px;
    color: #3c3c3c;
    cursor: pointer;
    float: right;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    margin: 0 !important;
    padding: 5px;
    text-align: right;
}
.custom .t {
    border-bottom: 1px solid #787878;
    color: #ffffff;
    font-family: Arial;
    font-size: 23px;
    font-weight: normal;
    line-height: 40px;
    margin: 15px 0 0;
    min-height: 40px;
    padding: 0 0 10px;
    text-align: left;
}
#contactform {
    z-index: 1;
    position: absolute;
}
.gmnoprint legend {
    color: #555;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    float: left;
    text-align: left important;
    width: 115px;
}
.gmnoprint input {
    cursor: pointer;
    margin-left: 5px;
    width: 35px;
}
.contactform label input.text {
    cursor: text !important;
}
/*.art-nostyle
{
  width:250px;
  float:left;
 
}*/
.gmnoprint p select,
.gmnoprint select {
    cursor: default;
}
.gmnoprint p select,
.gmnoprint select {
    width: 160px;
    height: 22px;
}
.gmnoprint input#text_from,
.gmnoprint input#text_to {
    width: 175px;
    cursor: text;
}
.copyright {
    visibility: hidden;
}

#morebutton {
    float: right;
}
#box_gmapfp {
    float: right;
    width: 105px !important;
    position: relative;
    top: 0px;
}
.art-postcontent .componentheading {
    display: none;
}
.art-postcontent table.blog tr td div.gmapfp_enveloppe_liste {
    display: none;
}
.art-postcontent table.blog tr {
    float: left;
}
.art-postcontent table.blog form {
    background: #efebe2;
    padding: 10px !important;

    float: left;
    width: 480px;
    margin-left: 240px !important;
}
#outer_more_gmapfp form {
    background: none;
    padding: none;
    border-radius: none;
    border: none;
    float: none;
}
tr,
td {
    margin-left: 20px !important;
}
.art-postcontent table.blog tr td div#gmapfp {
    float: left;
    width: 505px !important;
    height: 470px !important;
    margin-top: 15px;
    margin-left: 240px;
}
/*.............new*/
#contactform input#submit {
    font-size: 17px !important;
    padding: none !important;
}
input.text {
    width: 190px !important;
    height: 12px !important;
}
textarea.text {
    width: 190px !important;
    height: 60px !important;
}
#contactform {
    width: 210px !important;
    margin-top: 95px !important;
    margin-left: 30px !important;
    background: #bebebe !important;
    padding: 10px;
    height: 350px;
    padding: 10px !important;
}
.art-nostyle h3 {
    color: #3d7ea4;
    font-size: 18px;
    line-height: 1em;
    margin: 13px 0 -54px 40px;
    text-transform: uppercase;
    position: relative !important;
    margin-top: 13px !important;
    z-index: 1;
}
#submit {
    cursor: pointer;
}
.mod-jgmap {
    margin-top: -20px;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-left: 25px;
    border: 1px solid #fff;
    float: left;
    width: 500px !important;
    height: 420px !important;
}
span.art-button-wrapper input#sp_qc_submit {
    width: 95px !important;
    text-align: center !important;
}
#login-form ul li {
    border-bottom: none;
}
#contactform input,
#contactform select,
#contactform textarea {
    width: 133px;
}
.gmnoprint {
    height: 30px;
}
#gmapfp_directions table {
    width: 470px !important;
}
.from {
    width: 220px;
    float: left;
    margin-top: 10px;
}
.from p {
    display: block !important;
    margin-top: 15px;
}
.to {
    width: 230px;
    float: left;
    margin-top: 20px;
    padding-left: 15px;
}
.to span,
.from span {
    float: left;
    color: #237fa4;
}
.to select {
    margin-left: 5px;
}
table.blog form {
    margin-top: -27px !important;
}
.to input#text_to,
select#select_from {
    display: none;
}
.sp_qc_clr {
    margin-bottom: 20px;
}
textarea#message {
    width: 195px !important;
}
.sp_quickcontact {
    background: none repeat scroll 0 0 #d4e1f1;
    margin-left: 40px;
    margin-top: 0px !important;
    padding: 15px;
    position: absolute;
    min-height: 423px;
}
#map {
    margin-top: 10px;
}

/*...contact...*/
img.loading-img {
    width: 200px;
}
.banner-img {
    height: 219px;
}
/*.art-blockcontent-body ul.menu li a
{
  color:#fff !important;
}
.art-blockcontent-body ul.menu li a:hover
{
  color:#614909 !important;
}
.art-blockcontent-body ul.menu li.active a
{
  color:#672020 !important;
}*/
.top_menu {
    height: 25px;
    float: right;
    margin-top: 25px;
    line-height: 25px;
    margin-right: 10px;
}
.top_menu li {
    list-style: none;
    text-align: left;
    font-family: arial;
    font-size: 10px;
    color: #515151 !important;
    width: 55px;
    float: left;
    line-height: 25px !important;
    text-indent: 0px;
    height: 25px;
}
.top_menu li a {
    text-align: center;
    font-family: arial;
    font-size: 11px;
    color: #fff !important;

    text-decoration: none;
    padding-left: 5px;
    font-weight: bold;
}
.top_menu li a:hover {
    text-align: center;
    font-family: arial;
    font-size: 11px;
    color: #515151;

    text-decoration: none;
}

.cfdiv_select select,
.cfdiv_text label,
.ccms_form_element label {
    color: #237fa4;
    font-weight: bold;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
}
.layout {
    margin-top: 20px;
}
ul.menu li.current a {
    font-weight: bold;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    color: #aee8ff;
}

/* begin Page */
/* Created by Artisteer v3.1.0.48375 */

#art-main,
table {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 11px;
}

.art-postcontent p {
    margin: 12px 0;
}

.art-postcontent h1,
.art-postcontent h1 a,
.art-postcontent h1 a:link,
.art-postcontent h1 a:visited,
.art-postcontent h1 a:hover,
.art-postcontent h2,
.art-postcontent h2 a,
.art-postcontent h2 a:link,
.art-postcontent h2 a:visited,
.art-postcontent h2 a:hover,
.art-postcontent h3,
.art-postcontent h3 a,
.art-postcontent h3 a:link,
.art-postcontent h3 a:visited,
.art-postcontent h3 a:hover,
.art-postcontent h4,
.art-postcontent h4 a,
.art-postcontent h4 a:link,
.art-postcontent h4 a:visited,
.art-postcontent h4 a:hover,
.art-postcontent h5,
.art-postcontent h5 a,
.art-postcontent h5 a:link,
.art-postcontent h5 a:visited,
.art-postcontent h5 a:hover,
.art-postcontent h6,
.art-postcontent h6 a,
.art-postcontent h6 a:link,
.art-postcontent h6 a:visited,
.art-postcontent h6 a:hover,
.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited,
.art-blockheader .t a:hover,
.art-vmenublockheader .t,
.art-vmenublockheader .t a,
.art-vmenublockheader .t a:link,
.art-vmenublockheader .t a:visited,
.art-vmenublockheader .t a:hover,
.art-logo-name,
.art-logo-name a,
.art-logo-name a:link,
.art-logo-name a:visited,
.art-logo-name a:hover,
.art-logo-text,
.art-logo-text a,
.art-logo-text a:link,
.art-logo-text a:visited,
.art-logo-text a:hover,
.art-postheader,
.art-postheader a,
.art-postheader a:link,
.art-postheader a:visited,
.art-postheader a:hover {
    font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

.art-postcontent a {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    color: #566412;
}

.art-postcontent a:link {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    text-decoration: none;
    color: #566412;
}

.art-postcontent a:visited,
.art-postcontent a.visited {
    color: #6a7141;
}

.art-postcontent a:hover,
.art-postcontent a.hover {
    text-decoration: underline;
    color: #83981b;
}

.art-postcontent h1 {
    color: #83981b;
    margin: 10px 0 0;
    font-size: 26px;
    text-align: center;
}

.art-blockcontent h1 {
    margin: 10px 0 0;
    font-size: 26px;
    text-align: center;
}

.art-postcontent h1 a,
.art-postcontent h1 a:link,
.art-postcontent h1 a:hover,
.art-postcontent h1 a:visited,
.art-blockcontent h1 a,
.art-blockcontent h1 a:link,
.art-blockcontent h1 a:hover,
.art-blockcontent h1 a:visited {
    font-size: 26px;
    text-align: center;
}

.art-postcontent h2 {
    border-bottom: 1px solid #c6c6c6;
    color: #74a00b;
    font-family: Arial;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1em;
    margin: 5px 0;
    padding-bottom: 15px;
    text-align: left;
    text-transform: uppercase;
}

.art-blockcontent h2 {
    margin: 10px 0 0;
    font-size: 22px;
    text-align: center;
}

.art-postcontent h2 a,
.art-postcontent h2 a:link,
.art-postcontent h2 a:hover,
.art-postcontent h2 a:visited,
.art-blockcontent h2 a,
.art-blockcontent h2 a:link,
.art-blockcontent h2 a:hover,
.art-blockcontent h2 a:visited {
    font-size: 22px;
    text-align: center;
}

.art-postcontent h3 {
    color: #6a7141;
    margin: 10px 0 0;
    font-size: 18px;
    text-align: center;
}

.art-blockcontent h3 {
    margin: 10px 0 0;
    font-size: 18px;
    text-align: center;
}

.art-postcontent h3 a,
.art-postcontent h3 a:link,
.art-postcontent h3 a:hover,
.art-postcontent h3 a:visited,
.art-blockcontent h3 a,
.art-blockcontent h3 a:link,
.art-blockcontent h3 a:hover,
.art-blockcontent h3 a:visited {
    font-size: 18px;
    text-align: center;
}

.art-postcontent h4 {
    color: #1e2306;
    margin: 10px 0 0;
    font-size: 16px;
    text-align: center;
}

.art-blockcontent h4 {
    margin: 10px 0 0;
    font-size: 16px;
    text-align: center;
}

.art-postcontent h4 a,
.art-postcontent h4 a:link,
.art-postcontent h4 a:hover,
.art-postcontent h4 a:visited,
.art-blockcontent h4 a,
.art-blockcontent h4 a:link,
.art-blockcontent h4 a:hover,
.art-blockcontent h4 a:visited {
    font-size: 16px;
    text-align: center;
}

.art-postcontent h5 {
    color: #1e2306;
    margin: 10px 0 0;
    font-size: 14px;
    text-align: center;
}

.art-blockcontent h5 {
    margin: 10px 0 0;
    font-size: 14px;
    text-align: center;
}

.art-postcontent h5 a,
.art-postcontent h5 a:link,
.art-postcontent h5 a:hover,
.art-postcontent h5 a:visited,
.art-blockcontent h5 a,
.art-blockcontent h5 a:link,
.art-blockcontent h5 a:hover,
.art-blockcontent h5 a:visited {
    font-size: 14px;
    text-align: center;
}

.art-postcontent h6 {
    color: #293008;
    margin: 10px 0 0;
    font-size: 13px;
    text-align: center;
}

.art-blockcontent h6 {
    margin: 10px 0 0;
    font-size: 13px;
    text-align: center;
}

.art-postcontent h6 a,
.art-postcontent h6 a:link,
.art-postcontent h6 a:hover,
.art-postcontent h6 a:visited,
.art-blockcontent h6 a,
.art-blockcontent h6 a:link,
.art-blockcontent h6 a:hover,
.art-blockcontent h6 a:visited {
    font-size: 13px;
    text-align: center;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}

html,
body {
    height: 100%;
}

#art-main {
    position: relative;
    z-index: 0;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    min-width: 1000px;
    color: #4c512f;
    background-color: #f2f2f2;
}

.cleared {
    display: block;
    clear: both;
    float: none;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    height: 0;
    overflow: hidden;
}

.reset-box {
    overflow: hidden;
    display: table;
}

form {
    padding: 0 !important;
    margin: 0 !important;
}

table.position {
    position: relative;
    width: 100%;
    table-layout: fixed;
}

/* Start Box */
.art-box,
.art-box-body {
    margin: 0 auto;
    position: relative;
}
.art-box:before,
.art-box:after,
.art-box-body:before,
.art-box-body:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content: " ";
    background-repeat: no-repeat;
    line-height: 0;
}
.art-box:before,
.art-box-body:before {
    left: 0;
}
.art-box:after,
.art-box-body:after {
    right: 0;
}
.art-box:before {
    overflow: hidden;
    background-position: bottom left;
    direction: ltr;
    z-index: -3;
}
.art-box:after {
    background-position: bottom right;
    z-index: -3;
}
.art-box-body:before,
.art-box-body:after {
    background-repeat: repeat-y;
}
.art-box-body:before {
    background-position: top left;
    z-index: -3;
}
.art-box-body:after {
    background-position: top right;
    z-index: -3;
}

.art-box .art-box:before,
.art-box .art-box:after,
.art-box-body .art-box-body:before,
.art-box-body .art-box-body:after {
    z-index: -2;
}
.art-box .art-box .art-box:before,
.art-box .art-box .art-box:after,
.art-box-body .art-box-body .art-box-body:before,
.art-box-body .art-box-body .art-box-body:after {
    z-index: -1;
}
/* End Box */

/* Start Bar */
.art-bar {
    position: relative;
}
.art-bar:before,
.art-bar:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content: " ";
    background-repeat: repeat;
    z-index: -1;
}
.art-bar:before {
    left: 0;
    background-position: top left;
}
.art-bar:after {
    right: 0;
    background-position: top right;
}
/* End Bar */

li h1,
.art-postcontent li h1,
.art-blockcontent-body li h1 {
    margin: 1px;
}
li h2,
.art-postcontent li h2,
.art-blockcontent-body li h2 {
    margin: 1px;
}
li h3,
.art-postcontent li h3,
.art-blockcontent-body li h3 {
    margin: 1px;
}
li h4,
.art-postcontent li h4,
.art-blockcontent-body li h4 {
    margin: 1px;
}
li h5,
.art-postcontent li h5,
.art-blockcontent-body li h5 {
    margin: 1px;
}
li h6,
.art-postcontent li h6,
.art-blockcontent-body li h6 {
    margin: 1px;
}
li p,
.art-postcontent li p,
.art-blockcontent-body li p {
    margin: 1px;
}
/* end Page */

/* begin Menu */
/* menu structure */

ul.art-hmenu a,
ul.art-hmenu a:link,
ul.art-hmenu a:visited,
ul.art-hmenu a:hover {
    outline: none;
    position: relative;
    z-index: 11;
}

ul.art-hmenu,
ul.art-hmenu ul {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

ul.art-hmenu li {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    float: left;
    position: relative;
    z-index: 5;
    background: none;
}

ul.art-hmenu li:hover {
    z-index: 10000;
    white-space: normal;
}
ul.art-hmenu li li {
    float: none;
    width: auto;
}
ul.art-hmenu li:hover > ul {
    visibility: visible;
    top: 100%;
}
ul.art-hmenu li li:hover > ul {
    top: 0;
    left: 100%;
}
ul.art-hmenu:after,
ul.art-hmenu ul:after {
    content: ".";
    height: 0;
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}
ul.art-hmenu,
ul.art-hmenu ul {
    min-height: 0;
}

ul.art-hmenu ul {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background-image: url(./../images/spacer.gif);
    padding: 10px 30px 30px 30px;
    margin: -10px 0 0 -30px;
}

ul.art-hmenu ul.art-hmenu-left-to-right {
    right: auto;
    left: 0;
    margin: -10px 0 0 -30px;
}
ul.art-hmenu ul.art-hmenu-right-to-left {
    left: auto;
    right: 0;
    margin: -10px -30px 0 0;
}

ul.art-hmenu ul ul {
    padding: 30px 30px 30px 10px;
    margin: -30px 0 0 -10px;
}

ul.art-hmenu ul ul.art-hmenu-left-to-right {
    right: auto;
    left: 0;
    padding: 30px 30px 30px 10px;
    margin: -30px 0 0 -10px;
}

ul.art-hmenu ul ul.art-hmenu-right-to-left {
    left: auto;
    right: 0;
    padding: 30px 10px 30px 30px;
    margin: -30px -10px 0 0;
}

ul.art-hmenu li li:hover > ul.art-hmenu-left-to-right {
    right: auto;
    left: 100%;
}
ul.art-hmenu li li:hover > ul.art-hmenu-right-to-left {
    left: auto;
    right: 100%;
}

ul.art-hmenu {
    position: relative;
    padding: 6px 6px 6px 6px;
    float: left;
}

/* end menu structure */

/* menu bar */

.art-nav {
    width: 100%;
    margin: 0 auto;
    min-height: 43px;
    z-index: 100;
    margin-top: 8px;
    margin-bottom: 0;
}
.art-nav:before {
    right: 0;
}
.art-nav:after {
    width: 0;
}
/* end menu bar */
.art-nav-outer {
    position: absolute;
    width: 100%;
}
.art-nav-wrapper {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.art-nav-inner {
    margin: 0 0;
}

.art-hmenu-extra1 {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: 43px;
    background-position: center;
}

.art-hmenu-extra2 {
    position: relative;
    display: block;
    float: right;
    width: auto;
    height: 43px;
    background-position: center;
}

.art-hmenu {
    float: left;
}

/* images in menu items */
ul.art-hmenu img.art-menu-image,
ul.art-hmenu img.art-menu-image-left {
    vertical-align: middle;
    margin-right: 5px;
}

ul.art-hmenu img.art-menu-image-right {
    vertical-align: middle;
    margin-left: 5px;
}
/* end Menu */

/* begin MenuItem */
ul.art-hmenu > li > a {
    position: relative;
    display: block;
    height: 31px;
    cursor: pointer;
    text-decoration: none;
    color: #313815;
    padding: 0 22px;
    line-height: 31px;
    text-align: center;
}

ul.art-hmenu > li > a:before,
ul.art-hmenu > li > a:after {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    bottom: 0;
    z-index: -1;
    /*background-image: url(./../images/menuitem.png);*/
}

ul.art-hmenu > li > a:before {
    left: 0;
    right: 4px;
    background-position: top left;
}

ul.art-hmenu > li > a:after {
    width: 4px;
    right: 0;
    background-position: top right;
}

.art-hmenu a,
.art-hmenu a:link,
.art-hmenu a:visited,
.art-hmenu a:hover {
    text-align: left;
    text-decoration: none;
}

ul.art-hmenu > li > a.active:before {
    background-position: bottom left;
}
ul.art-hmenu > li > a.active:after {
    background-position: bottom right;
}
ul.art-hmenu > li > a.active {
    color: #000000;
}

ul.art-hmenu > li > a:hover:before,
ul.art-hmenu > li:hover > a:before {
    background-position: center left;
}
ul.art-hmenu > li > a:hover:after,
ul.art-hmenu > li:hover > a:after {
    background-position: center right;
}
ul.art-hmenu > li > a:hover,
ul.art-hmenu > li:hover > a {
    color: #212414;
}

.art-hmenu a:hover.separator-without-submenu {
    cursor: default;
}

.art-hmenu a:hover.separator-without-submenu .t {
    color: #313815;
}

.art-hmenu li:hover a.separator-without-submenu .t {
    color: #313815;
}

a:hover.separator-without-submenu .r,
a:hover.separator-without-submenu .l {
    top: 0 !important;
}
/* end MenuItem */

/* begin MenuSeparator */
ul.art-hmenu > li:before {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: -5px;
    width: 5px;
    height: 31px;
    /*background: url(./../images/menuseparator.png) center center no-repeat;*/
}

ul.art-hmenu > li {
    margin-left: 5px;
}
ul.art-hmenu > li:first-child {
    margin-left: 0;
}

ul.art-hmenu > li:first-child:before {
    display: none;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.art-hmenu ul a {
    display: block;
    white-space: nowrap;
    height: 24px;
    background-image: url(./../images/subitem.png);
    background-position: left top;
    background-repeat: repeat-x;
    border-width: 0;
    border-style: solid;
    min-width: 7em;
    text-align: left;
    text-decoration: none;
    line-height: 24px;
    color: #3e471a;
    font-size: 12px;
    margin: 0;
    padding: 0 8px;
}

.art-hmenu ul > li:first-child > a {
    border-top-width: 0;
}

.art-hmenu ul a:link,
.art-hmenu ul a:visited,
.art-hmenu ul a:hover,
.art-hmenu ul a:active {
    text-align: left;
    text-decoration: none;
    line-height: 24px;
    color: #3e471a;
    font-size: 12px;
    margin: 0;
    padding: 0 8px;
}

.art-hmenu ul li a:hover {
    color: #000000;
    background-position: left bottom;
    border-top-width: 0 !important;
}

.art-hmenu ul li:hover > a {
    color: #000000;
    background-position: left bottom;
    border-top-width: 0 !important;
}

/* end MenuSubItem */

/* begin Header */
div.art-header {
    margin: 0 auto;
    position: relative;
    z-index: -5;
    width: 100%;
    height: 235px;
    margin-top: 0;
    margin-bottom: 0;
}
.art-header-position {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.art-header-wrapper {
    position: relative;
    top: 0;
    width: 1000px;
    margin: 0 auto;
}
.art-header-inner {
    position: relative;
    margin: 0 0;
}

.art-header:after {
    background: url(./../images/img/banner.png) repeat-x;
    content: " ";
    display: block;
    height: 290px;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: -1;
}
/* end Header */

/* begin Logo */
div.art-logo {
    display: block;
    position: absolute;
    top: 95px;
    left: 0;
    margin-left: 12px;
}

.art-logo-name {
    display: block;
    text-align: left;
    font-size: 22px;
    padding: 0;
    margin: 0;
    color: #2d3409 !important;
}
.art-logo-name a,
.art-logo-name a:link,
.art-logo-name a:visited,
.art-logo-name a:hover {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #fff !important;
    font-family: arial;
    text-shadow: 0px 1px 1px #00585c;
}

.art-logo-text {
    display: block;
    text-align: left;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: #2d3409 !important;
}
.art-logo-text a,
.art-logo-text a:link,
.art-logo-text a:visited,
.art-logo-text a:hover {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    color: #2d3409 !important;
}

/* end Logo */

/* begin Box, Sheet */
.art-sheet {
    max-width: 1000px;
    margin-top: 0px;
    margin-bottom: 0;
    cursor: auto;
    width: 1000px;
    z-index: 1;
}
.art-sheet-body {
    padding: 0;
    min-width: 30px;
    min-height: 30px;
    padding-top: 15px;
    padding-bottom: 0;
}
.art-sheet:before,
.art-sheet:after {
    content: url(./../images/sheet_t.png);
    font-size: 0;
    background-image: url(./../images/sheet_b.png);
}
.art-sheet:after {
    clip: rect(auto, auto, auto, 985px);
}
.art-sheet:before,
.art-sheet-body:before {
    right: 15px;
}
.art-sheet-body:after {
    width: 15px;
    top: 15px;
    bottom: 15px;
    background-image: url(./../images/sheet.png);
}
.art-sheet-body:before {
    top: 15px;
    bottom: 15px;
    background-image: url(./../images/sheet.png);
}

/* end Box, Sheet */

/* begin Layout */
.art-layout-wrapper {
    position: relative;
    margin: 0 auto 0 auto;
}

.art-content-layout {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.art-content-layout-row {
    display: table-row;
}

.art-layout-cell {
    display: table-cell;
    vertical-align: top;
}
/* end Layout */

/* begin Button */
span.art-button-wrapper > a.art-button,
span.art-button-wrapper > a.art-button:link,
span.art-button-wrapper > input.art-button,
span.art-button-wrapper > button.art-button {
    text-decoration: none;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    top: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #fff !important;
    width: auto;
    outline: none;
    border: none;
    background: #767676;
    line-height: 24px;
    height: 24px;
    margin: 0 !important;
    padding: 0 30px !important;
    overflow: visible;
    cursor: pointer;
    text-indent: 0;
    border-radius: 7px;
}

.art-button img,
span.art-button-wrapper img {
    margin: 0;
    vertical-align: middle;
}

span.art-button-wrapper {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 0;
    width: auto;
    max-width: 1000px;
    margin: 0;
    padding: 0;
    z-index: 0;
    margin-top: 10px;
    margin-bottom: 7px;
}

.firefox2 span.art-button-wrapper {
    display: block;
    float: left;
}

input,
select,
textarea {
    vertical-align: middle;
    font-family: Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
}

div.art-block select {
    width: 96%;
}

span.art-button-wrapper.hover > .art-button,
span.art-button-wrapper.hover > a.art-button:link {
    color: #555 !important;
    text-decoration: none !important;
}

span.art-button-wrapper.active > .art-button,
span.art-button-wrapper.active > a.art-button:link {
    color: #212414 !important;
}

span.art-button-wrapper > span.art-button-l,
span.art-button-wrapper > span.art-button-r {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-image: url(./../images/button.png);
    background-repeat: no-repeat;
}

span.art-button-wrapper > span.art-button-l {
    left: 0;
    right: 9px;
    background-position: top left;
}

span.art-button-wrapper > span.art-button-r {
    width: 9px;
    right: 0;
    background-position: top right;
}

span.art-button-wrapper.hover > span.art-button-l {
    background-position: center left;
}

span.art-button-wrapper.hover > span.art-button-r {
    background-position: center right;
}

span.art-button-wrapper.active > span.art-button-l {
    background-position: bottom left;
}

span.art-button-wrapper.active > span.art-button-r {
    background-position: bottom right;
}

span.art-button-wrapper input {
    float: none !important;
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.art-vmenublock {
    max-width: 1000px;
    margin: 7px;
}
.art-vmenublock-body {
    padding: 0;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader {
    margin-bottom: 0;
    min-height: 40px;
    line-height: 40px;
}

.art-vmenublockheader .t {
    min-height: 40px;
    line-height: 40px;
    color: #000000;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0 10px 0 10px;
    white-space: nowrap;
}

.art-vmenublockheader .t a,
.art-vmenublockheader .t a:link,
.art-vmenublockheader .t a:visited,
.art-vmenublockheader .t a:hover {
    color: #000000;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 16px;
    text-align: center;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent {
    max-width: 1000px;
}
.art-vmenublockcontent-body {
    padding: 0;
}
.art-vmenublockcontent:before,
.art-vmenublockcontent-body:before {
    right: 0;
}
.art-vmenublockcontent-body:after {
    width: 0;
    top: 0;
    bottom: 0;
    background-image: url(./../images/vmenublockcontent.png);
}
.art-vmenublockcontent-body:before {
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(./../images/vmenublockcontent.png);
}

.art-vmenublockcontent:before {
    right: 0;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu,
ul.art-vmenu ul {
    list-style: none;
    display: block;
}

ul.art-vmenu,
ul.art-vmenu li {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
    line-height: 0;
}

ul.art-vmenu {
    margin-top: 0;
    margin-bottom: 0;
}

ul.art-vmenu ul {
    display: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

ul.art-vmenu ul.active {
    display: block;
}

/* images in menu items */
ul.art-vmenu img.art-menu-image,
ul.art-vmenu img.art-menu-image-left {
    vertical-align: middle;
    margin-right: 5px;
}

ul.art-vmenu img.art-menu-image-right {
    vertical-align: middle;
    margin-left: 5px;
}
/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a {
    display: block;
    cursor: pointer;
    z-index: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}

ul.art-vmenu li {
    position: relative;
}

ul.art-vmenu > li > a {
    color: #1b1d11;
    padding: 0 10px 0 10px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
}

ul.art-vmenu > li > a.active {
    color: #6c7e16;
}
ul.art-vmenu a:hover,
ul.art-vmenu a.active:hover {
    color: #6c7e16;
}

ul.art-vmenu > li > a:before,
ul.art-vmenu > li > a:after {
    position: absolute;
    display: block;
    content: " ";
    z-index: -1;
    background-image: url(./../images/vmenuitem.png);
    top: 0;
    height: 30px;
}

ul.art-vmenu > li > a:before {
    left: 0;
    right: 0;
    background-position: top left;
}
ul.art-vmenu > li > a:after {
    width: 0;
    right: 0;
    background-position: top right;
}
ul.art-vmenu > li > a.active:before {
    background-position: bottom left;
}
ul.art-vmenu > li > a.active:after {
    background-position: bottom right;
}
ul.art-vmenu > li > a:hover {
    background-color: transparent;
}
ul.art-vmenu > li > a:hover:before {
    background-position: center left;
}
ul.art-vmenu > li > a:hover:after {
    background-position: center right;
}

ul.art-vmenu > li {
    margin-top: 3px;
}
ul.art-vmenu > li > ul {
    margin-top: 3px;
    padding-bottom: 0;
}
ul.art-vmenu > li:first-child {
    margin-top: 0;
}

ul.art-vmenu > li:before,
ul.art-vmenu > li > ul:before {
    display: block;
    position: absolute;
    content: " ";
    height: 1px;
    top: -3px;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: solid 1px #c7cda8;
}

ul.art-vmenu > li:first-child:before,
ul.art-vmenu > li:first-child:after {
    display: none;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul li {
    margin: 0;
    padding: 0;
}
ul.art-vmenu li li,
ul.art-vmenu li li a {
    position: relative;
}

ul.art-vmenu ul a {
    display: block;
    position: relative;
    white-space: nowrap;
    height: 22px;
    overflow: visible;
    background-image: url(./../images/vsubitem.png);
    background-repeat: repeat-x;
    background-position: top left;
    padding: 0;
    padding-left: 30px;
    padding-right: 15px;
    line-height: 22px;
    color: #5e6c28;
    font-size: 12px;
    margin-left: 0;
    margin-right: 0;
}

ul.art-vmenu ul a.active {
    background-position: bottom left;
}
ul.art-vmenu ul a:hover {
    background-position: center left;
    line-height: 22px;
    color: #5e6c28;
    font-size: 12px;
    margin-left: 0;
    margin-right: 0;
}
ul.art-vmenu ul li li a:hover,
ul.art-vmenu ul li li a:hover.active {
    background-position: left center;
}

ul.art-vmenu ul a:after {
    display: block;
    position: absolute;
    top: 7px;
    content: " ";
    width: 5px;
    height: 8px;
    overflow: visible;
    background-image: url(./../images/vsubitemicon.png);
    background-position: top left;
    background-repeat: no-repeat;
    left: 15px;
}
ul.art-vmenu ul a:hover:after {
    background-position: center left;
}
ul.art-vmenu ul a.active:hover:after {
    background-position: center left;
}
ul.art-vmenu ul a.active:after {
    background-position: bottom left;
}

ul.art-vmenu ul a:link,
ul.art-vmenu ul a:visited,
ul.art-vmenu ul a:active {
    line-height: 22px;
    color: #5e6c28;
    font-size: 12px;
    margin-left: 0;
    margin-right: 0;
}

ul.art-vmenu > li > ul > li:first-child {
    padding-top: 0;
    margin-top: 0;
}

ul.art-vmenu li li {
    position: relative;
    margin-top: 1px;
}

ul.art-vmenu li li:after {
    display: block;
    position: absolute;
    content: " ";
    height: 0;
    top: -1px;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: solid 1px #d6e87d;
}

ul.art-vmenu li li:before {
    display: block;
    position: absolute;
    content: " ";
    left: 0;
    right: 0;
    top: -1px;
    z-index: 0;
    height: 1px;
}
ul.art-vmenu > li > ul > li:first-child:before,
ul.art-vmenu > li > ul > li:first-child:after {
    display: none;
}

ul.art-vmenu ul ul a:after {
    left: 30px;
}
ul.art-vmenu ul ul ul a:after {
    left: 45px;
}
ul.art-vmenu ul ul ul ul a:after {
    left: 60px;
}
ul.art-vmenu ul ul ul ul ul a:after {
    left: 75px;
}
ul.art-vmenu ul ul a {
    padding-left: 45px;
}
ul.art-vmenu ul ul ul a {
    padding-left: 60px;
}
ul.art-vmenu ul ul ul ul a {
    padding-left: 75px;
}
ul.art-vmenu ul ul ul ul ul a {
    padding-left: 90px;
}

ul.art-vmenu ul li a.active {
    color: #47520f;
}
ul.art-vmenu ul li a:hover,
ul.art-vmenu ul li a:hover.active {
    color: #3a3e23;
}

/* end VMenuSubItem */

/* begin Box, Block */
.art-block {
    max-width: 1000px;
    margin: 7px 25px -19px 7px;
}
.art-block-body {
    padding: 0;
}

div.art-block img {
    /* WARNING do NOT collapse this to 'border' - inheritance! */
    border-width: 1px;
    border-color: #cfdb9e;
    border-style: solid;
    margin: 5px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader {
    margin-bottom: 0;
    min-height: 40px;
    line-height: 40px;
}

.art-blockheader .t {
    border-bottom: 1px solid #787878;
    color: #ffffff;
    font-family: Arial;
    font-size: 23px;
    font-weight: normal;
    line-height: 40px;
    margin: 0;
    min-height: 40px;
    padding: 0 0 10px;
    text-align: left;
    margin-top: 25px;
}

.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited,
.art-blockheader .t a:hover {
    color: #000000;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 16px;
    text-align: center;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent {
    max-width: 1000px;
    padding-top: 10px;
}
.art-blockcontent-body {
    padding: 3px;
    color: #fff;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    margin-bottom: 30px;
}
.art-blockcontent-body table,
.art-blockcontent-body li,
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover {
    color: #000000;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 11px;
}

.art-blockcontent-body p {
    margin: 0 5px;
}

.art-blockcontent-body a,
.art-blockcontent-body a:link {
    color: #fff;
    text-decoration: none;
}

.art-blockcontent-body a:visited,
.art-blockcontent-body a.visited {
    color: #ddd;
    text-decoration: none;
}

.art-blockcontent-body a:hover,
.art-blockcontent-body a.hover {
    color: #fff;
    text-decoration: underline;
}

.art-blockcontent-body ul li {
    line-height: 125%;
    color: #12130b;
    margin: 5px 0 0 10px;
    padding: 0 0 0 14px;
    background-image: url(./../images/blockcontentbullets.png);
    background-repeat: no-repeat;
    background-position: top left;
}
/* end Box, BlockContent */

/* begin Box, Post */
.art-post {
    max-width: 1000px;
    margin: 15px;
}
.art-post-body {
    padding: 15px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

a img {
    border: 0;
}

.art-article img,
img.art-article,
.art-block img,
.art-footer img {
    border-color: #cfdb9e;
    border-style: solid;
    border-width: 0;
    margin: 7px 7px 7px 7px;
}

.art-metadata-icons img {
    border: none;
    vertical-align: middle;
    margin: 2px;
}

.art-article table,
table.art-article {
    border-collapse: collapse;
    margin: 1px;
}

.art-post .art-content-layout-br {
    height: 0;
}

.art-article th,
.art-article td {
    padding: 2px;
    border: solid 1px #889254;
    vertical-align: top;
    text-align: left;
}

.art-article th {
    text-align: center;
    vertical-align: middle;
    padding: 7px;
}

pre {
    overflow: auto;
    padding: 0.1em;
}

.art-article {
    border-collapse: separate;
} /* end Box, Post */

/* begin PostHeaderIcon */
.art-postheader {
    border-bottom: 1px solid #c6c6c6;
    color: #74a00b;
    font-family: Arial;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1em;
    margin: 5px 0;
    padding-bottom: 15px;
    text-align: left;
    text-transform: uppercase;
}

.art-postheader a,
.art-postheader a:link,
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 28px;
    text-align: left;
}

.art-postheader a,
.art-postheader a:link {
    text-decoration: none;
    color: #4b570f;
}

.art-postheader a:visited,
.art-postheader a.visited {
    color: #5b6138;
}

.art-postheader a:hover,
.art-postheader a.hovered {
    text-decoration: underline;
    color: #83981b;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    text-align: right;
    color: #181a0f;
}

.art-postheadericons {
    padding: 1px;
    background: #e4e4e4;
}

.art-postheadericons a,
.art-postheadericons a:link {
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    color: #728230;
}

.art-postheadericons a:visited,
.art-postheadericons a.visited {
    color: #728230;
}

.art-postheadericons a:hover,
.art-postheadericons a.hover {
    text-decoration: underline;
    color: #000000;
}

/* end PostIcons, PostHeaderIcons */

/* begin PostIcon, PostDateIcon */
span.art-postdateicon {
    display: inline-block;
    line-height: 1em;
}

span.art-postdateicon:after {
    content: ".";
    width: 1px;
    visibility: hidden;
    display: inline-block;
} /* end PostIcon, PostDateIcon */

/* begin PostIcon, PostAuthorIcon */
span.art-postauthoricon {
    display: inline-block;
    line-height: 1em;
}

span.art-postauthoricon:after {
    content: ".";
    width: 1px;
    visibility: hidden;
    display: inline-block;
} /* end PostIcon, PostAuthorIcon */

/* begin PostIcon, PostPdfIcon */
span.art-postpdficon {
    background: url(./../images/postpdficon.png) no-repeat left 0.5em;
    padding-top: 8px;
    margin-top: -8px;
    padding-left: 22px;
    min-height: 16px;
    display: inline-block;
    line-height: 1em;
}

span.art-postpdficon:after {
    content: ".";
    width: 1px;
    visibility: hidden;
    display: inline-block;
} /* end PostIcon, PostPdfIcon */

/* begin PostIcon, PostPrintIcon */
span.art-postprinticon {
    background: url(./../images/postprinticon.png) no-repeat left 0.5em;
    padding-top: 6px;
    margin-top: -6px;
    padding-left: 20px;
    min-height: 12px;
    display: inline-block;
    line-height: 1em;
}

span.art-postprinticon:after {
    content: ".";
    width: 1px;
    visibility: hidden;
    display: inline-block;
} /* end PostIcon, PostPrintIcon */

/* begin PostIcon, PostEmailIcon */
span.art-postemailicon {
    background: url(./../images/postemailicon.png) no-repeat left 0.5em;
    padding-top: 8px;
    margin-top: -8px;
    padding-left: 22px;
    min-height: 16px;
    display: inline-block;
    line-height: 1em;
}

span.art-postemailicon:after {
    content: ".";
    width: 1px;
    visibility: hidden;
    display: inline-block;
} /* end PostIcon, PostEmailIcon */

/* begin PostIcon, PostEditIcon */
span.art-postediticon {
    background: url(./../images/postediticon.png) no-repeat left 0.5em;
    padding-top: 8px;
    margin-top: -8px;
    padding-left: 22px;
    min-height: 16px;
    display: inline-block;
    line-height: 1em;
}

span.art-postediticon:after {
    content: ".";
    width: 1px;
    visibility: hidden;
    display: inline-block;
} /* end PostIcon, PostEditIcon */

/* begin PostBullets */
.art-postcontent ol,
.art-postcontent ul {
    margin: 1em 0 1em 2em;
    padding: 0;
}

.art-postcontent li {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    text-align: justify;
    color: #1a1e0b;
    margin: 5px 0 5px -15px;
    padding: 0 0 0 14px;
}

.art-postcontent li ol,
.art-post li ul {
    margin: 0.5em 0 0.5em 2em;
    padding: 0;
}

.art-postcontent ol > li {
    background: none;
    padding-left: 0;
    /* overrides overflow for "ul li" and sets the default value */
    overflow: visible;
}

.art-postcontent ul > li {
    background-image: url(./../images/postbullets.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 14px;
    /* makes "ul li" not to align behind the image if they are in the same line */
    overflow-x: visible;
    overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote a,
.art-postcontent blockquote a,
.art-blockcontent blockquote a,
.art-footer blockquote a,
blockquote a:link,
.art-postcontent blockquote a:link,
.art-blockcontent blockquote a:link,
.art-footer blockquote a:link,
blockquote a:visited,
.art-postcontent blockquote a:visited,
.art-blockcontent blockquote a:visited,
.art-footer blockquote a:visited,
blockquote a:hover,
.art-postcontent blockquote a:hover,
.art-blockcontent blockquote a:hover,
.art-footer blockquote a:hover {
    color: #161a05;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-style: italic;
    font-weight: normal;
    text-align: justify;
}

/* Override native 'p' margins*/
blockquote p,
.art-postcontent blockquote p,
.art-blockcontent blockquote p,
.art-footer blockquote p {
    margin: 0;
}

blockquote {
    border: solid 1px #cfdb9e;
    margin: 10px;
    padding: 6px;
    background-color: #f0f7cf;
    margin-left: 50px;
    padding-left: 43px;
    background-image: url(./../images/postquote.png);
    background-position: left top;
    background-repeat: no-repeat;
    /* makes block not to align behind the image if they are in the same line */
    overflow: auto;
    clear: both;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons,
.art-postfootericons a,
.art-postfootericons a:link,
.art-postfootericons a:visited,
.art-postfootericons a:hover {
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    text-align: center;
    color: #181a0f;
}

.art-postfootericons {
    padding: 1px;
}

.art-postfootericons a,
.art-postfootericons a:link {
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    color: #728230;
}

.art-postfootericons a:visited,
.art-postfootericons a.visited {
    color: #728230;
}

.art-postfootericons a:hover,
.art-postfootericons a.hover {
    text-decoration: underline;
    color: #000000;
}

/* end PostIcons, PostFooterIcons */

/* begin PostIcon, PostCategoryIcon */
span.art-postcategoryicon {
    display: inline-block;
    line-height: 1em;
}

span.art-postcategoryicon:after {
    content: ".";
    width: 1px;
    visibility: hidden;
    display: inline-block;
} /* end PostIcon, PostCategoryIcon */

/* begin Footer */
.art-footer {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    margin-top: 0px;
}

.art-footer-body {
    position: relative;
    padding: 8px;
    color: #1e2013;
    font-size: 11px;
}

.art-footer-body ul li {
    font-size: 13px;
    line-height: 125%;
    color: #0f1009;
    padding: 0 0 0 13px;
    background-image: url(./../images/footerbullets.png);
    background-repeat: no-repeat;
    background-position: top left;
}

.art-footer-body:before {
    position: absolute;
    content: " ";
    z-index: -2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50px;
    background-image: url(./../images/footer.png);
    background-position: bottom left;
}

.art-footer:before,
.art-footer:after {
    position: absolute;
    content: " ";
    z-index: -2;
    bottom: 0;
    height: 100px;
    /*background-image: url(./../images/footer_b.png);*/
    background: #2f2f2f;
}

.art-footer:before {
    left: 0;
    right: 0;
    background-position: bottom left;
}

.art-footer:after {
    right: 0;
    width: 0;
    background-position: bottom right;
}

.art-footer-text p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.art-footer-body a,
.art-footer-body a:link,
.art-footer-body a:visited,
.art-footer-body a:hover,
.art-footer-body td,
.art-footer-body th,
.art-footer-body caption {
    color: #1e2013;
    font-size: 11px;
}

.art-footer-text {
    min-height: 15px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    float: left;
    left: 50%;
    text-align: center;
}

.art-footer-body a,
.art-footer-body a:link {
    color: #31380a;
    text-decoration: none;
}

.art-footer-body a:visited {
    color: #12130b;
}

.art-footer-body a:hover {
    color: #4b570f;
    text-decoration: underline;
}

.art-footer-center {
    position: relative;
    float: right;
    right: 50%;
}

div.art-footer img {
    /* WARNING do NOT collapse this to 'border' - inheritance! */
    border-width: 1px;
    border-color: #cfdb9e;
    border-style: solid;
    margin: 5px;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer,
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover {
    font-family: Arial;
    font-size: 10px;
    letter-spacing: normal;
    word-spacing: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    color: #414a1c;
}

.art-page-footer {
    position: relative;
    z-index: 10;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #3d4125;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.art-content-layout .art-sidebar1 {
    width: 250px;
}
.art-content-layout .art-sidebar1:before {
    position: absolute;
    z-index: -2;
    direction: ltr;
    right: 14px;
    bottom: 14px;
    top: 0;
    content: " ";
    overflow: hidden;
    display: block;
    background-color: #2f2f2f;
    width: 250px;
    border-radius: 0px 11px 0px 0px;
    opacity: 0.9;
}
/* end LayoutCell, sidebar1 */

/* category items */

.category ul.actions,
.category ul.actions li,
.category ul.actions li img {
    display: inline;
    margin: 0;
    padding: 0;
}

.category ul.actions li {
    background: none;
}

/* categories list container */

.category-list .category-desc .image-left {
    float: left;
    margin: 0 5px 5px 0;
}

.category-list .category-desc .image-right {
    float: left;
    margin: 0 0 5px 5px;
}

.category-list fieldset.filters {
    border: none;
}

.category-list fieldset.filters .display-limit {
    text-align: right;
    margin-right: 0.5em;
}

.category-list table.category {
    width: 100%;
}

.category-list table.category thead th a img {
    border: none;
    padding-left: 0.3em;
}

/* categories list items */

.categories-list ul {
    list-style-type: none;
    margin: 0 0 0 20px;
    padding: 0;
}

.categories-list ul li {
    background-image: none;
    padding: 5px;
    clear: both;
}

.categories-list ul ul {
    margin-left: 10px;
}

dl.newsfeed-count dl,
dl.weblink-count dl,
dl.article-count dl {
    clear: both;
}

dl.newsfeed-count dt,
dl.newsfeed-count dd,
dl.weblink-count dt,
dl.weblink-count dd,
dl.article-count dt,
dl.article-count dd {
    display: inline;
}

dl.newsfeed-count dd,
dl.weblink-count dd,
dl.article-count dd {
    padding: 0;
    margin: 0;
}

/* category subcategories */

.cat-children ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cat-children ul li {
    background-image: none;
    padding: 5px;
    clear: both;
}

/* contact */

.contact-email div {
    padding: 3px 0;
}

.contact-email label {
    width: 15em;
    float: left;
}

/* articles archive items */

#archive-items {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

#archive-items li {
    list-style-type: none;
    background-image: none;
    margin: 10px 0;
    padding: 0;
}

/* article */
ul.pagenav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

ul.pagenav li {
    display: inline-block;
    padding: 0 5px;
    text-align: center;
    background-image: none;
}

/* blog layout */

.cols-2 .column-1,
.cols-2 .column-2,
.cols-3 .column-1,
.cols-3 .column-2,
.cols-3 .column-3 {
    float: left;
    clear: right;
}

.cols-2 .column-1 {
    width: 50%;
}
.cols-2 .column-2 {
    width: 50%;
}
.cols-3 .column-1 {
    width: 33%;
}
.cols-3 .column-2 {
    width: 33%;
}
.cols-3 .column-3 {
    width: 34%;
}

.row-separator {
    clear: both;
    float: none;
    font-size: 1px;
    display: block;
}

/* article info */

.article-info {
    margin: 10px 0;
}

.article-info .article-info-term {
    display: none;
}

.article-info dd {
    background-image: none;
    margin: 0;
    padding: 0;
    line-height: 120%;
}

/* login */

.login .login-description img {
    float: left;
    margin: 0 5px 5px 0;
}

.login fieldset {
    clear: both;
    border: 0;
}

.login .login-fields label {
    float: left;
    width: 15em;
    display: block;
}

/* search form */

#searchForm .phrases-box label {
    display: block;
    line-height: 1.6em;
    margin-left: 2em;
}

#searchForm .phrases-box input {
    display: block;
    float: left;
    width: auto;
    border: none;
    line-height: 1.6em;
    margin: 0;
}

#searchForm .only label {
    display: block;
    line-height: 1.6em;
    margin-left: 2em;
}

#searchForm .only input {
    display: block;
    float: left;
    width: auto;
    border: none;
    line-height: 1.6em;
    margin: 0;
}

#searchForm .form-limit {
    margin-top: 0.5em;
}

/* pagination */

.pagination {
    margin: 0;
    padding: 0;
    text-align: center;
}

.pagination .counter {
    text-align: center;
}

.pagination ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pagination ul li {
    display: inline;
    padding: 2px 5px;
    text-align: left;
    margin: 0 2px;
    background-image: none;
}

.pagination ul li.pagination-start,
.pagination ul li.pagination-start span,
.pagination ul li.pagination-end,
.pagination ul li.pagination-end span {
    padding: 0;
}

/* system messages */

#system-message {
    margin-bottom: 20px;
}

#system-message dd.message ul {
    background: #c3d2e5 url(./../../system/images/notice-info.png) 4px center
        no-repeat;
    border-top: 3px solid #de7a7b;
    border-bottom: 3px solid #de7a7b;
    margin: 0;
    padding-left: 40px;
    text-indent: 0;
}

#system-message dd.error ul {
    color: #c00;
    background: #e6c0c0 url(./../../system/images/notice-alert.png) 4px center
        no-repeat;
    border-top: 3px solid #de7a7b;
    border-bottom: 3px solid #de7a7b;
    margin: 0;
    padding-left: 40px;
    text-indent: 0;
}

#system-message dd.notice ul {
    color: #c00;
    background: #efe7b8 url(./../../system/images/notice-note.png) 4px center
        no-repeat;
    border-top: 3px solid #f0dc7e;
    border-bottom: 3px solid #f0dc7e;
    margin: 0;
    padding-left: 40px;
    text-indent: 0;
}

#system-message ul li {
    background-image: none;
    padding-left: 0;
}

/* icon tooltip */

.tip {
    border: solid 1px #333;
    background: #ffffcc;
    padding: 3px;
    text-align: left;
}

.tip-title {
    font-weight: bold;
}

/* login module */

#login-form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

#login-form p {
    margin: 0.5em 0 0 0;
}

#login-form #form-login-username label,
#login-form #form-login-password label {
    display: block;
}

#login-form #form-login-remember input {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

#login-form #modlgn-username,
#login-form #modlgn-passwd {
    background: none repeat scroll 0 0 #585353;
    border: 1px solid #6d6d6d;
    border-radius: 5px 5px 5px 5px;
    height: 23px;
    margin: 0;
    padding: 0;
    width: 95%;
    margin-top: 5px;
    color: #fff;
}

#login-form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#login-form ul li {
    background-image: none;
    padding: 0;
}

/* pagebreak content plugin */

#article-index {
    float: right;
    margin: 0.5em;
    padding: 0.5em;
}

.pagenavcounter {
    margin: 0.5em 0;
    padding: 0.5em 0;
    font-weight: bold;
}

/* com_users forms: registration, profile, edit profile, remind, reset */
.registration fieldset,
.profile-edit fieldset,
.profile fieldset,
#user-registration fieldset {
    margin: 0.5em 0;
    padding: 1em;
}

.registration fieldset dt,
.profile-edit fieldset dt,
.profile fieldset dt,
#user-registration fieldset dt {
    float: left;
    width: 16em;
    padding: 0.2em 0;
}

.registration fieldset dd,
.profile-edit fieldset dd,
.profile fieldset dd,
#user-registration fieldset dd {
    padding: 0.2em 0;
    margin-left: 16em;
}

.registration fieldset dt,
.profile-edit fieldset dt,
#user-registration fieldset dt,
.registration fieldset dd,
.profile-edit fieldset dd,
#user-registration fieldset dd {
    display: block;
    line-height: 1.5em;
    min-height: 1.5em;
}

.registration fieldset legend,
.profile-edit fieldset legend,
.profile fieldset legend {
    font-weight: bold;
}

/* mod_stats */
.stats-module dt {
    float: left;
    width: 10em;
    padding: 0.2em 0;
    font-weight: bold;
    display: block;
    line-height: 1.5em;
    min-height: 1.5em;
}

.stats-module dd {
    padding: 0.2em 0;
    margin-left: 10em;
    display: block;
    line-height: 1.5em;
    min-height: 1.5em;
}

/*....................*/

.art-article iframe {
    margin-right: 25px;
}
.art-postcontent .contentpane #blockrandom {
    min-height: 800px;
    min-width: 935px;
}

.art-postheadericon {
    background: url(./../images/postheadericon.png) no-repeat scroll left 0.5em
        transparent;
    display: inline-block;
    line-height: 1em;
    margin-left: 10px;
    margin-top: -5px;
    min-height: 30px;
    padding-left: 30px;
    padding-top: 12px;
}

#mod_login_username,
#mod_login_password {
    width: 160px;
    font-size: 11px;
    font-weight: bold;
}

#login-form ul li {
    background-image: none;
    margin-left: 0;
    margin-top: 5px;
    padding: 0;
    font-size: 10px;
}

.cbLoginButtonSpan .art-button-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -2px;
}
.cbLoginLinksList a.mod_login {
    font-size: 11px !important;
    font-family: Arial !important;
}
#mod_login_usernametext,
.inputbox,
#mod_login_remembermetext,
#mod_login_passwordtext {
    font-size: 11px !important;
    font-family: Arial !important;
}
#mod_login_remember {
    margin-left: 5px !important;
}
ul.art-vmenu a {
    font-size: 11px !important;
    font-family: Arial !important;
}
.art-article {
    border-collapse: separate;
    font-family: Arial;
    font-size: 11px;
    text-align: justify;
}

.custom1 p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    margin-top: 3px !important;
}
.art-postcontent p {
    font-size: 12px !important;
    margin: 12px 0;
    font-family: Arial !important;
}
.art-postcontent ul > li {
    font-size: 11px;
}

.art-hmenu li {
    background: #a1cae6 !important;
    padding: 0px !important;
    margin-top: -8px !important;
    border-radius: 0px 0px 10px 10px;
    /* pad */
}
.art-hmenu li a {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    color: #fff !important;
    font-family: arial;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.art-hmenu li.active a {
    color: #555 !important;
    font-family: arial;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
.art-hmenu li.active {
    background: #f2f2f2 !important;
    padding: 0px !important;
    border-radius: 0px 0px 10px 10px;
}
.art-footer-text p {
    color: #fff !important;
    font-family: arial;
    font-size: 11px;
}
.main_content1 {
    min-height: 310px;
    width: 730px;
}
.main_content2 {
    width: 730px;
}
.inner_text {
    margin-top: 22px;
}
.art-button-wrapper input:hover {
    background: #c6c6c6 !important;
    color: #555 !important;
}
.in_content {
    float: left;
    margin-left: 20px;
    background: #e7e7e7;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}
.in_content1 {
    width: 315px;
    min-height: 140px;
    float: left;
}
.in_content2 {
    width: 315px;
    min-height: 140px;
    float: left;
}
.in_content3 {
    width: 315px;
    min-height: 140px;
    float: left;
}
.in_content4 {
    width: 315px;
    min-height: 140px;
    float: left;
}
.in_content1 img {
    border: none !important;
    height: 115px;
}
.in_content2 img {
    border: none !important;
    height: 115px;
}
.in_content3 img {
    border: none !important;
    height: 115px;
}
.in_content4 img {
    border: none !important;
    height: 115px;
}
.right_content {
    float: left;
    width: 170px;
    margin-left: 20px;
}
.right_content .title {
    border-bottom: 1px solid #c6c6c6;
    color: #91610f;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 1em;
    margin: 5px 0;
    padding-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
    width: 155px;
    float: left;
}
.right_content .content {
    color: #555;
    font-family: Arial;
    font-size: 12px;
    float: left;
    width: 155px;
    text-align: justify;
    padding-top: 5px;
}
.right_content .read {
    color: #e17700;
    font-family: Arial;
    font-size: 12px;
    float: left;
    width: 155px;
    text-align: right;
    padding-top: 0px;
    cursor: pointer;
}
.art-banner {
    margin: 0 auto;
    width: 1000px;
    background: url(./../images/img/banner2.png) no-repeat;
    height: 284px;
    margin-top: -55px;
}
